{% extends 'base.html.twig' %}

{% block title %}Liste des Tickets
{% endblock %}

{% block body %}

	<h1>
		Liste des Tickets
	</h1>
	<table>
		<thead>
			<th>ID</th>
			<th>Object</th>
			<th>Created At</th>
			<th>Status</th>
		</thead>
		<tbody>
			{% for ticket in tickets %}

				<tr>
					<th scope="row">{{ticket.ID}}</th>
					<td>{{ticket.object}}</td>
					<td>{{ticket.createdAt | date('d/m/Y H:i')}}</td>
					<td>{{ticket.isActive}}</td>
				</tr>

			{% endfor %}


		</tbody>
	</table>
{% endblock %}
